@import 'variables';
@import 'mixins';
/**
 * green - button
 */
.btn-green {
  color: $white;
  background-color: $green-haze;
  border-color: $observatory;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: $white;
  background-color: $salem;
  border-color: $observatory;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-image: none;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: $green-haze;
  border-color: $observatory;
}

.btn-green .badge {
  color: $green-haze;
  background-color: $white;
}

/**
 * ming - button
 */
.btn-ming {
  color: $white;
  background-color: $ming;
  border-color: $ming;
}

.btn-ming:hover,
.btn-ming:focus,
.btn-ming:active,
.btn-ming.active,
.open .dropdown-toggle.btn-ming {
  color: $white;
  background-color: $bluewood;
  border-color: $ming;
}

.btn-ming:active,
.btn-ming.active,
.open .dropdown-toggle.btn-ming {
  background-image: none;
}

.btn-ming.disabled,
.btn-ming[disabled],
fieldset[disabled] .btn-ming,
.btn-ming.disabled:hover,
.btn-ming[disabled]:hover,
fieldset[disabled] .btn-ming:hover,
.btn-ming.disabled:focus,
.btn-ming[disabled]:focus,
fieldset[disabled] .btn-ming:focus,
.btn-ming.disabled:active,
.btn-ming[disabled]:active,
fieldset[disabled] .btn-ming:active,
.btn-ming.disabled.active,
.btn-ming[disabled].active,
fieldset[disabled] .btn-ming.active {
  background-color: $ming;
  border-color: $ming;
}

.btn-ming .badge {
  color: $ming;
  background-color: $white;
}
