@import 'variables';
@import 'mixins';

.organization {
  color: $gray;
  clear: left;
  @include box-shadow(0px, 5px, 20px, rgba(0,0,0,0.4));
  @include border-radius(3px);
  @include box-sizing();

  &.organization-admin {
    background-color: $white;
    .col-md-8:nth-child(2) {
      border-left: 1px solid $light-gray;
    }
  }

  .menu-widget {
    margin: 30px -15px 50px -15px;
  }
  @media (max-width: 767px) {
    .menu-widget {
      margin: 0 -15px 10px -15px;
    }
  }
  .avatar-edit {
    width: 150px;
    height: 150px;
    border: 1px $gray solid;
  }

  .fileinput-button {
    position: relative;
    top: auto; left: auto; right: auto; bottom: auto;
  }

  .avatar {
    background-color: $white;
    overflow: auto;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px $light-gray solid;
    @include border-radius(3px);

    .description {
      position: relative;
      margin-left: 215px;
      margin-right: 15px;
      padding-bottom: 10px;
      @include box-sizing();
    }
    img {
      width: 200px;
      height: 200px;
      float: left;
      margin-right: 15px;
      border-right: 1px $light-gray solid;
      border-bottom: 1px $light-gray solid;
    }
    hr {
      padding: 0;
      margin: 0 0 10px 0;
    }
  }

  input, select {
    margin-bottom: 10px;
  }
}
