$white: #ffffff;
$black: #111111;
$gray: #434343;
$light-gray: #cccccc;

$madison: #2C3E50;
$bluewood: #34495e;
$cararra: #f2f1ef;
$ming: #336E7B;
$green-haze: #019875;
$salem: #1E824C;
$observatory: #049372;
$mountain-meadow: #1BBC9B;
